@import 'http://fonts.googleapis.com/css?family=Raleway';

body {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 0px;
}

.heading {
  margin: 0px;
  text-align: center;
}

input {
  padding-left: 6px;
}

.flex {
  display: flex;
}

.paragraph {
  margin-bottom: 0px;
}

/* 
 input
 form
 
 
 */

.myForm {
  background: #61dafb;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 9px;
}

.input {
  box-sizing: border-box;
  height: 25px;
  width: 100%;
  border-radius: 4px;
  border-style: none;
}

.genderSelect {
  margin: 8px 0 0 0;
  height: 25px;
  width: 30%;
  border-radius: 4px;
  border-style: none;
}

.btn-file {
  display: flex;
  justify-content: space-between;
}

.photo {
  width: 80%;
  margin: 10px 0 10px;
  text-align: center;
}

.delButton {
  margin: 10px 0 10px;
  border-radius: 2px;
  border-style: none;
}

.image1 {
  width: 100%;
  height: 160px;
}

.button {
  width: 35%;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
  background: green;
}

/* 


profile data



*/

.container {
  background: #f0eeee;
  margin-left: 25px;
  padding: 6px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.detail {
  margin: 0px;
  width: 35%;
  padding: 10px;
}

.image {
  width: 100%;
  height: 160px;
}

.buttonDetail {
  margin: 0 0 2px 0;
  width: 100%;
  height: 40px;
  border: #b3b6bd;
  padding: 14px 0 0 0px;
  background: linear-gradient(to right, #3f98c5 4%, #d8cece 0%);
  text-align: center;
  cursor: pointer;
}

.userDetail {
  width: 65%;
  display: flex;
  justify-content: center;
}

.selectMenu {
  width: 100%
}

.interest {
  width: 65%;
  text-align: center
}

.profile {
  width: 75%;
}

.user {
  color: rgb(177, 167, 167);
  margin: 20px 0 0 0;
}

.blueColor {
  background: blue;
  height: 30px;
  width: 20px;
}

.buttonDetail:hover {
  color: rgb(36, 48, 48);
  background: whitesmoke;
}

.dropDown {
  display: none;
}

.mrMs {
  display: flex;
  flex-direction: row;
}

.men {
  color: rgb(53, 44, 44);
  background: rgb(173, 159, 159);
  border: none;
  width: 40px;
}

.name {
  background: gainsboro;
  width: 400px;
  height: 30px;
}

.gmail {
  padding: 8px 0 0 9px;
  width: 20px;
  height: 15px;
}

.gmail1 {
  color: rgb(53, 44, 44);
  background: rgb(173, 159, 159);
  width: 40px;
  height: 30px;
}

.genders {
  display: flex;
  width: 20%;
  height: 40px;
  margin-top: 10px;
}

.butn {
  margin-top: 25px;
  position: relative;
}

.update {
  position: absolute;
  top: 0;
  right: 0px;
  background: #61dafb;
  height: 30px;
  width: 35%;
  border-style: none;
  border-radius: 2px;
}